include README.txt
include license.doc
include license.pdf
include synthlisa.pdf
include manual.pdf
include default-install.sh
include lisasim/*.cpp
include lisasim/*.h
include lisasim/*.i
include lisasim/*.py
include lisasim/GSL/*.c
include lisasim/GSL/*.h
include examples/data/README.txt
include examples/eps/README.txt
include examples/test-binary.py
include examples/test-interpolation.py
include examples/test-lasernoise.py
include examples/test-montana.py
include examples/test-noisyarms.py
include examples/test-noisyarms-2nd.py
include examples/test-noisyarms-2nd-2.py
include examples/test-optnoise.py
include examples/test-proofnoise.py
include examples/test-tdi2nd.py
include examples/test-tdibadmass.py
include examples/test-tdiequal.py
include examples/test-tdiequal-X.py
include examples/test-tdiunequal.py
include examples/test-binary.plt
include examples/test-interpolation.plt
include examples/test-lasernoise.plt
include examples/test-montana.plt
include examples/test-noisyarms-2nd.plt
include examples/test-noisyarms.plt
include examples/test-optnoise.plt
include examples/test-proofnoise.plt
include examples/test-tdi2nd-1.plt
include examples/test-tdi2nd-2.plt
include examples/test-tdi2nd-3.plt
include examples/test-tdi2nd-4.plt
include examples/test-tdibadmass.plt
include examples/test-tdiequal.plt
include examples/test-tdiequal-X.plt
include examples/test-tdiunequal.plt
