include MANIFEST.in
include README.md
include setup.py
include doc/history.txt
include doc/license.doc
include doc/license.pdf
include doc/manual.pdf
include doc/synthlisa.pdf
include examples/data
include examples/eps
include examples/test-*.py
include examples/test-*.plt
include examples/manual-examples/data
include examples/manual-examples/eps
include examples/manual-examples/test-*.py
include examples/manual-examples/test-*.plt  
include lisasim/*.cpp
include lisasim/*.h
include lisasim/*.i
include lisasim/*.py
include lisasim/GSL/*.c
include lisasim/GSL/*.h
include lisasim/data/*
