include MANIFEST.in
include README.txt
include default-install.py
include setup.py
include bin/recompile-here.sh
include bin/sdist-here.sh
include doc/history.txt
include doc/license.pdf
include doc/manual.pdf
include doc/synthlisa.pdf
include examples/data/README.txt
include examples/eps/README.txt
include examples/plotxml.py
include examples/test-bbh.py
include examples/test-binary.py
include examples/test-lisapar.py
include examples/test-tdiequal.py
include examples/test-tdiunequal.py
include examples/test-interpolation.py
include examples/manual-examples/data
include examples/manual-examples/eps
include examples/manual-examples/test-*.py
include examples/manual-examples/test-*.plt  
include lisasim/*.cpp
include lisasim/*.h
include lisasim/*.i
include lisasim/*.py
include lisasim/GSL/*.c
include lisasim/GSL/*.h
include lisasim/data/positions.txt
include lisasim/data/lisa-xml.dtd
include lisasim/data/lisa-xml.xsl
include lisasim/data/lisa-xml.css
include packages/numpy-1.0.tar.gz
include packages/swig-1.3.29.tar.gz
include packages/pyRXP-1.11.tar.gz
include packages/PyX-0.8.1.tar.gz
include contrib/healpix/COPYING
include contrib/healpix/README
include contrib/healpix/*.c
include contrib/healpix/*.h
include contrib/healpix/*.i
include contrib/healpix/*.py
